In [8]:
from tabulate import tabulate

# Example data for the table
data = [
    {"Name": "Alice", "Age": 30, "Occupation": "Engineer"},
    {"Name": "Bob", "Age": 25, "Occupation": "Data Scientist"},
    {"Name": "Charlie", "Age": 35, "Occupation": "Teacher"}
]

# Print the table using tabulate
print(tabulate(data, headers="keys", tablefmt="grid"))
print("\n")
print(tabulate(data, headers="keys", tablefmt="fancy_grid"))
print("\n")
print(tabulate(data, headers="keys", tablefmt="pretty"))
print("\n")
print(tabulate(data, headers="keys", tablefmt="pipe"))
print("\n")
print(tabulate(data, headers="keys", tablefmt="github"))
print("\n")

+---------+-------+----------------+
| Name    |   Age | Occupation     |
+=========+=======+================+
| Alice   |    30 | Engineer       |
+---------+-------+----------------+
| Bob     |    25 | Data Scientist |
+---------+-------+----------------+
| Charlie |    35 | Teacher        |
+---------+-------+----------------+


╒═════════╤═══════╤════════════════╕
│ Name    │   Age │ Occupation     │
╞═════════╪═══════╪════════════════╡
│ Alice   │    30 │ Engineer       │
├─────────┼───────┼────────────────┤
│ Bob     │    25 │ Data Scientist │
├─────────┼───────┼────────────────┤
│ Charlie │    35 │ Teacher        │
╘═════════╧═══════╧════════════════╛


+---------+-----+----------------+
|  Name   | Age |   Occupation   |
+---------+-----+----------------+
|  Alice  | 30  |    Engineer    |
|   Bob   | 25  | Data Scientist |
| Charlie | 35  |    Teacher     |
+---------+-----+----------------+


| Name    |   Age | Occupation     |
|:--------|------:|:---------------|
| Alice   |    30 | Engineer       |
| Bob     |    25 | Data Scientist |
| Charlie |    35 | Teacher        |


| Name    |   Age | Occupation     |
|---------|-------|----------------|
| Alice   |    30 | Engineer       |
| Bob     |    25 | Data Scientist |
| Charlie |    35 | Teacher        |

  Name   Age   Occupation
  Alice  30        Engineer
    Bob  25  Data Scientist
Charlie  35         Teacher